@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
	.container-card {
		@apply mx-auto max-w-7xl mb-6 p-6 sm:px-4 md:px-6 lg:px-8 rounded-md shadow-md shadow-blue-500 bg-gray-100 dark:bg-gray-800 transition-colors duration-300;
	}

	.btn-secondary {
		@apply inline-block font-semibold px-5 py-2 rounded-lg text-base leading-tight border-none cursor-pointer transition shadow-sm bg-linear-to-r from-blue-600 to-blue-900 text-white hover:from-blue-900 hover:to-blue-600 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 active:bg-blue-800 dark:from-blue-400 dark:to-blue-700 dark:hover:from-blue-700 dark:hover:to-blue-400 dark:focus:ring-blue-300;
	}

	.btn-primary {
		@apply inline-block font-semibold px-5 py-2 rounded-lg text-base leading-tight border-none cursor-pointer transition shadow-sm bg-linear-to-r from-green-600 to-green-900 text-white hover:from-green-900 hover:to-green-600 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 active:bg-green-800 dark:from-green-400 dark:to-green-700 dark:hover:from-green-700 dark:hover:to-green-400 dark:focus:ring-green-300;
	}

	.btn-warning {
		@apply inline-block font-semibold px-5 py-2 rounded-lg text-base leading-tight border-none cursor-pointer transition shadow-sm bg-linear-to-r from-red-600 to-red-900 text-white hover:from-red-900 hover:to-red-600 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 active:bg-red-800 dark:from-red-400 dark:to-red-700 dark:hover:from-red-700 dark:hover:to-red-400 dark:focus:ring-red-300;
	}

	.edit-label {
		@apply block text-gray-800 dark:text-gray-300 font-semibold mb-2;
	}

	.input-textbox {
		@apply bg-white dark:bg-gray-800 text-gray-900 dark:text-white border-2 border-blue-500 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-500 w-full;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold tracking-tight text-gray-900 dark:text-gray-50;
}

a {
	@apply p-1 font-semibold text-gray-900 hover:text-blue-900 dark:text-gray-50 dark:hover:text-blue-700 transition-colors duration-300;
}
